@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-slate-100); 
}
::-webkit-scrollbar-thumb {
  background: var(--color-slate-300); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-slate-400); 
}
